
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 36px;
    color: #1a73e8;
    text-align: center;
    margin-bottom: 20px;
}

.location {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}

strong {
    color: #000;
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
}
.background-section {
    height: 200vh; /* Высота экрана */
    background-image: url('pictureJapan/япония.jpg');
    background-size: cover; /* Масштабирование, чтобы фон занимал весь блок */
    background-position: center; /* Центрирование фона */
    background-attachment: fixed; /* Фон фиксируется при прокрутке */
}
.scrollable-section {
    height: 100vh; /* Увеличенная высота для создания скроллинга */
     background-color: #f0f0f0; /* Пример фона для второй секции */
    background-attachment: scroll;
}
